################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CS132-Summer-2020/v16/Server/sqlite3
/ON/MingshengYang/Module2/.vs/Arrays-Enums/v16/Server/sqlite3
/ON/MingshengYang/Module2/.vs/Module2/v16/Server/sqlite3
/ON/MingshengYang/Module2/Arrays-Enums/.vs/Arrays-Enums/v16/Server/sqlite3
/ON/MingshengYang/Module2/Arrays-Enums/2DArrays/.vs/2DArrays/v16/Server/sqlite3
/ON/MingshengYang/Module2/Arrays-Enums/Enums/.vs/Enums/v16/Server/sqlite3
/ON/MingshengYang/Module3/.vs/Module3/v16/Server/sqlite3
/ON/MingshengYang/Module3/Operators-Routines/HOP03_MingshengYang_Increment-Decrement/.vs/HOP03_MingshengYang_Increment-Decrement/v16/Server/sqlite3
/ON/MingshengYang/Module3/Operators-Routines/HOP03_MingshengYang_NumericOperators/HOP03_MingshengYang_NumericOperators/.vs/HOP03_MingshengYang_NumericOperators/v16/Server/sqlite3
/ON/MingshengYang/Module4/Methods-Scopes/Scopes/.vs/Scopes/v16/Server/sqlite3
/ON/MingshengYang/Module5/Conditions-Loops/Conditional-Statements/.vs/Conditional-Statements/v16/Server/sqlite3
/ON/MingshengYang/Module5/Conditions-Loops/While-Loop/.vs/While-Loop/v16/Server/sqlite3
/ON/MingshengYang/Module6/String-Manipulation/String_Manipulation/.vs/String_Manipulation/v16/Server/sqlite3
/ON/MingshengYang/Module7/DateTime/.vs/DateTime/v16/Server/sqlite3
/ON/MingshengYang/Module8/OOP/Class-Object/.vs/Class-Object/v16/Server/sqlite3
